flows_montroy.json
[{"id":"7a3adc35.c4972c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f017fb07.a18a5","type":"inject","z":"7a3adc35.c4972c","name":"08:00 CEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["2ab96b46.da0f0c"]]},{"id":"b6e7cdcf.8a276","type":"function","z":"7a3adc35.c4972c","name":"weather details","func":"var windDirection= {};\nvar windspeedms=msg.payload.windspeed //wind speed in m/s\nvar windspeed = (windspeedms)*2.23694;//converted to mph\nvar windspeedmph=(msg.payload.windspeed.toFixed(1)); //display 1 decimal place\nvar temp=msg.payload.tempc\nvar location=msg.payload.location\nvar rise=msg.payload.sunrise\nvar sunrise = 3600000+Number(rise)*1000;//convert from seconds to milliseconds\nvar set=msg.payload.sunset\nvar sunset = 3600000+Number(set)*1000;//convert from seconds to milliseconds\n\n/* function for converting meteorogical degree to text */\n\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"Nord-Nord-Ost\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"Nord-Ost\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"Ost-Nord-Ost\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"Ost\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"Ost-Süd-Ost\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"Süd-Ost\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"Süd-Süd-Ost\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"Süd\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"Süd-Süd-West\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"Süd-West\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"West-Süd-West\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"West\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"West-Nord-West\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"Nord-West\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"Nord-Nord-West\";\n  }else{\nreturn \"Nord\"; \n  }\n}\n/* End of function for converting meteorogical degree to text */\n\nwindDirection.payload = degToCard(msg.payload.winddirection);\nvar winddirection=windDirection.payload\nmsg.payload = \"location: \" + location +  \"<br>\" +\n\" Current Temperature \" + temp +\"c\"+ \"<br>\" +\n\" Wind: \" + windspeedmph +\" mph\" + \"<br>\" +\n\" Direction: \" + winddirection +  \"<br>\" +\n\" Sunrise: \" +  (new Date(sunrise)).toLocaleTimeString()+ \"<br>\" + \n\" Sunset: \" + (new Date(sunset)).toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":467,"wires":[[]]},{"id":"7544fe1e.4f0bc","type":"inject","z":"7a3adc35.c4972c","name":"13:00 CEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["2ab96b46.da0f0c"]]},{"id":"bb51fa08.d5b6d","type":"inject","z":"7a3adc35.c4972c","name":"18:00 CEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["2ab96b46.da0f0c"]]},{"id":"2ab96b46.da0f0c","type":"openweathermap","z":"7a3adc35.c4972c","name":"Montroy","wtype":"current","lon":"","lat":"","city":"Montroy","country":"Spain","language":"en","x":320,"y":80,"wires":[["465a54bc.01ee04"]]},{"id":"6c768632.41349","type":"debug","z":"7a3adc35.c4972c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":709.5,"y":228,"wires":[]},{"id":"a8c4a04a.25f97","type":"function","z":"7a3adc35.c4972c","name":"Sends Montroy weather","func":"msg = {\n    topic : \"Current Weather Conditions(linode)\",\n    to : \"keithmillar@gmx.es\",//if set here cannot br set in email node\n    payload : msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":238,"wires":[[]]},{"id":"d7804108.aa1a78","type":"function","z":"7a3adc35.c4972c","name":"OpenWeather Montroy","func":"var windDirection= {};\n/* function for converting meteorogical degree to text */\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n/* End of function for converting meteorogical degree to text */\nvar options = { timeZone: 'Europe/Madrid', hour:'2-digit', minute:'2-digit'};\nwindDirection.payload = degToCard(msg.payload.winddirection);\nvar winddirection=windDirection.payload\nvar newMsg = msg;\nnewMsg.payload=\"The Weather in: \"+\nmsg.location.city+\", \"+msg.location.country+\"<br>\"+ \n\"Cloudiness: \" +msg.payload.detail+\"<br>\"+\n\" The temperature is \"+msg.payload.tempc+\"C <br>\"+\n\"Humidity: \"+msg.payload.humidity+\"%\"+\"<br>\"+\n\"Wind: \"+(msg.payload.windspeed*2.23694).toFixed(1) + \"mph from the \" +winddirection+\" <br>\"+\n//var windspeedmph=(msg.payload.windspeed.toFixed(1)); //display 1 decimal place\n\" Sunrise: \" + new Date(msg.payload.sunrise*1000).toLocaleTimeString([],options)+\"<br>\"+\n\" Sunset: \" +  new Date(msg.payload.sunset*1000).toLocaleTimeString([],options);\nreturn newMsg;\n\n//var sunrise = 3600000+Number(rise)*1000;//convert from seconds to milliseconds\n","outputs":1,"noerr":0,"x":213,"y":239,"wires":[["a8c4a04a.25f97"]]},{"id":"61008f98.51e9c8","type":"file","z":"7a3adc35.c4972c","name":"","filename":"weather.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":552,"y":325,"wires":[[]]},{"id":"465a54bc.01ee04","type":"function","z":"7a3adc35.c4972c","name":"OpenWeather Montroy to csv File","func":"var windDirection= {};\n/* function for converting meteorogical degree to text */\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n/* End of function for converting meteorogical degree to text */\nvar options = { timeZone: 'Europe/Madrid', hour:'2-digit', minute:'2-digit'};\nwindDirection.payload = degToCard(msg.payload.winddirection);\nvar winddirection=windDirection.payload\nvar newMsg = msg;\nnewMsg.payload= new Date().toISOString().replace('T', ' ').substr(0, 10)+\", \"+\nmsg.location.city+\", \"+msg.location.country+\", \"+ \nmsg.payload.detail+\", \"+\nmsg.payload.tempc+\", \"+\nmsg.payload.humidity+\", \"+\n(msg.payload.windspeed*2.23694).toFixed(1) + \", \" +\nwinddirection+\", \"+\n//var windspeedmph=(msg.payload.windspeed.toFixed(1)); //display 1 decimal place\nnew Date(msg.payload.sunrise*1000).toLocaleTimeString([],options)+\", \"+\nnew Date(msg.payload.sunset*1000).toLocaleTimeString([],options);\nreturn newMsg;\n\n//var sunrise = 3600000+Number(rise)*1000;//convert from seconds to milliseconds\n","outputs":1,"noerr":0,"x":222,"y":325,"wires":[["61008f98.51e9c8"]]},{"id":"9c8fcbb9.4a249","type":"debug","z":"7a3adc35.c4972c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":589.5,"y":395,"wires":[]}]